<div
  class="chart-container"
  [style.height.px]="height + 100"
  [style.width.px]="width + 100"
>
  <div class="chart-title-container">
    {{ data.options.title }}
    @if(viewType === 'day' || viewType === 'month') {
    <div class="year-month-indicator">
      <span>Year: {{ selectedYear }} </span>
      @if(viewType === 'day') {
      <span>Month: {{ getMonthName(selectedMonth) }}</span>
      }
    </div>
    }
  </div>
  <div class="axis-svg-flex" [style.height.px]="height">
    <app-sparkline-axis
      [series]="data.series"
      [height]="height"
      [width]="width"
      [xScale]="xScale"
      [viewType]="viewType"
      [selectedYear]="selectedYear"
      [selectedMonth]="selectedMonth"
    ></app-sparkline-axis>

    <svg [attr.width]="width" [attr.height]="height">
      @if (chartData && chartData.options.type === ChartType.Line) { @for
      (points of computedPoints; track points) {
      <svg:g
        app-spark-line-dots
        [points]="points"
        [color]="getColor($index)"
      ></svg:g>
      <svg:g
        app-sparkchart-line
        [points]="points"
        [color]="getColor($index)"
        [smooth]="true"
      ></svg:g>
      } }
    </svg>
  </div>
  @if (data && data.options.legend) {
  <div class="legend-container">
    @for (category of data.series; track $index) {
    <app-chart-legend
      [data]="category"
      [color]="getColor($index)"
    ></app-chart-legend>
    }
  </div>
  }
</div>
