.legend-item {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  color: white;
}

.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  border-radius: 10px;
}
